* {
    font-family: 'Open Sans Condensed', sans-serif;
}

.sidenav {    
    background-color: #282830;
    color: #ECF0F1;
}

.sidenav img {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    display: block;
    margin-top: 10px;
}

.sidenav h2 {
    margin-top: 10px;
}

.sidenav h5 {
    color: #b1b1b1;   
}

.sidenav ul {
    list-style: none;
    padding-left: 0;
}

.sidenav li {
    margin-bottom: 15px;
    text-align: center;
}

.sidenav ul a {
    text-decoration: none;
    color: #ECF0F1;
    font-size: 130%;
    display: block;
    
}

.sidenav ul a:hover {
    border-bottom: 2px solid #ECF0F1;
}

.content p {
    font-size: 130%;
}

@media screen and (min-width: 992px) {
    .sidenav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 300px;
    }

    .content {
        width: 100%;
        padding-left: 300px;
    }
}